<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.springframework.org/schema/data/jaxb"
      layout:decorate="~{fragments/main_layout}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Register Form</title>
</head>
<body>
    <div layout:fragment="content" class="container" >
        <div class="simple-login-container col-md-4 offset-md-4">
            <h2>Register Form</h2>
            <form th:action="@{/register}" th:object="${member}" method="post">
                <div class="row">
                    <div class="col-md-12 form-group">
                        <input type="text" class="form-control" placeholder="First Name" id="firstName" th:field="*{firstName}">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 form-group">
                        <input type="text" class="form-control" placeholder="Last Name" id="lastName" th:field="*{lastName}">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 form-group">
                        <input type="text" class="form-control" placeholder="email" id="email" th:field="*{email}">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 form-group">
                        <input type="password" placeholder="Enter your Password"  id="password" class="form-control" th:field="*{password}">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 form-group">
                        <input type="submit" class="btn btn-primary btn-block btn-login">
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>