<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Back to Spring</title>
    <link rel="stylesheet" th:href="@{/libs/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/colors.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

    <div th:replace="fragments/header :: header">
        <!-- this part created for header.html fragment-->
    </div>
    
    <div layout:fragment="content">
        <!-- this part created for views fragment-->
    </div>
    
    <div th:replace="fragments/footer :: footer">
        <!-- this part created for footer.html fragment-->
    </div>

    <script th:src="@{/libs/jquery/jquery.min.js}"></script>
    <script th:src="@{/libs/popper/popper.min.js}"></script>
    <script th:src="@{/libs/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>